// Header Base

.app-header {
  height: $app-header-height;
  display: flex;
  align-items: center;
  align-content: center;
  z-index: 10;
  transition: all .2s;
  position: fixed;
  width: 100%;
  padding: 0% 20px;

  .logo-src {
    display: block;
  }

  &.header-shadow {
    box-shadow: $box-shadow-default;
  }

  .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding-left: 0;
    height: $app-header-height;
    transition: all .2s;

    .app-header-left {
      display: flex;
      align-items: center;
      padding: 0 0 0 $layout-spacer-x;
      .header-main-menu{
        display: flex;
        gap:$gap-20;
        .meain-menu-dash{
          display: flex;
        }
        .submenu {
          transition: 300ms ease-in-out;
          height: 0;
          visibility: hidden;
          position: absolute;
          &.expanded {
            padding: 0;
            height: auto;
            visibility:visible !important;
            top: 100%;
            li{
              list-style: none;
              a{
                padding: 10px 0px !important;
              }
            }
          }
        }
        .dropdown-menu{
          position: relative;
          box-shadow: none;
          border: 0;
          padding: 0;
          display: flex;
          width: auto;
          margin: 0;
          min-width: auto;
        }
      }
    }

    .app-header-right {
      align-items: center;
      display: flex;
      padding: 0 $layout-spacer-x 0 0;
    }
  }
  
  .header-user-info {
    & > .widget-heading,
    & > .widget-subheading {
      white-space: nowrap;
    }

    & > .widget-subheading {
      font-size: $font-size-xs;
    }
  }
}

.app-header__menu,
.app-header__mobile-menu {
  display: none;
  padding: 0 $layout-spacer-x;
  height: $app-header-height;
  align-items: center;
}

// Modifiers

@import "modifiers/header-dots";
@import "modifiers/header-userarea";

// Header Themes

@import "themes/header-light";
@import "themes/header-dark";
